body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px;
}   
.container header{
    color: black;
    font-weight: 500;
    text-align: center;
    font-style: bold;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label{
    color: black;
}
.form .input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 10px;
    color: black;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0 15px;
}
.form .column{
    display: flex;
    column-gap: 15px;
}
.box{
    font-size: 15px;
}
.form .gender-op{
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.group{
    height: 50px;
}

.form button{
    height: 50px;
    width: 100%;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    background-color: blueviolet;
    font-weight: 400;
    border-radius: 6px;
    transition: 0.2;
}
.form button:hover{
    background-color: black;

}